nav li, footer li{
    display: inline;
    margin-right: 20px;
}
nav {
    font-weight: bold;
}
body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}
header {
    background-color:#999;
    color:white;
    text-align:center;
    padding:5px;	
}
footer {
}
a {
    text-decoration: none;
    color: #999;
}
h2 {
    font-size: 1.5em;
}
p {
    line-height: 1.4em;
    color: #333;
}
a:hover {
    text-decoration: underline;
}
ul.post { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.post li {
    list-style: none;
}
.custom_content {
  width: 62em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.post {
  font-size: 110%;
  text-align: justify;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}
