<!DOCTYPE html>
<html>
	
	{% include head.html %}
	
    	<body>
        	<header>
            		<h1>Brian's Awesome Test Page</h1>
        	</header>
        	
        	<nav>
	                <ul>
	            		<li><a href="/">Home</a></li>
		            	<li><a href="/about">About</a></li>
	            		<li><a href="/cv">CV</a></li>
	                </ul>
	        </nav>
	        
	        <div class = "cointainer">
			<aside>
				<h2>
					Post Categories
				</h2>
				<ul>
				<li><a href="/blog">Personal</a></li>
				<li><a href="/ml">Machine Learning</a></li>
				<li><a href="/projects">Embedded Projects</a></li>
				</ul>
			</aside>
	            
		    <div class="custom_content">
		
		    	{{ content }}
		
	        	{% include comments.html %}
	        	
		    </div><!-- /.custom_content -->
	        </div><!--- container-->
	        
	        
	        <footer>
	                <ul>
				<li><a href="mailto:briandsmith1@gmail.com">email</a></li>
				<li><a href="https://github.com/bsmitty5000">github.com/bsmitty5000</a></li>
	                </ul>
	        </footer>
	        
    	</body>
</html>
