<!DOCTYPE html>
<html>
	
	{% include head.html %}
        {% seo %}
	
    	<body>
        	<header>
            		<h1>brian's stuff</h1>
        	</header>
        	
        	<nav>
	                <ul>
	            		<li><a href="/">home</a></li>
	            		<li><a href="/about">about</a></li>
	            		<li><a href="/cv">cv</a></li>
	                </ul>
	        </nav>
	        
	        <div class = "cointainer">
	            
		    <div class="custom_content">
		
		    	{{ content }}
		
	        	{% include comments.html %}
	        	
		    </div><!-- /.custom_content -->
	        </div><!--- container-->
	        
	        
	        <footer>
	                <ul>
				<li><a href="https://github.com/bsmitty5000">github.com/bsmitty5000</a></li>
	                </ul>
	        </footer>
	        
    	</body>
</html>
